@font-face {
	font-family: Playpen Sans; src: url('PlaypenSans-VariableFont_wght.ttf');
}

html {
  /*height: 100%;*/
  font-size: calc(13px + 0.6vw);
  background-color: #1f242c;
  --mainBackgroundElementBackgrounds: rgba(71, 32, 79, 0.483);
  /*background: linear-gradient(49deg, #1a001c 0%, #270e36 14%, #4d1434 36%, #542b09 84%, #693308 100%);*/
  /*background: linear-gradient(0deg,#693308 0%, #542b09 8%, #4d1434 32%, #270e36 40%, #1c0928 50%, #270e36 60%, #4d1434 68%, #542b09 92%, #693308 100%);
  background-size: 100% 1500px;
  background-attachment: scroll
  */
}

body {
	/*0.390625vw);*/

	
	
	/*width: 100%;*/
	margin: auto;
	overflow-x: hidden;
}
img {
	width: 100%;
	height: auto;
  }
h1 {
	font-size: 1.33rem;
	color: #ededed;
	font-family: Playpen Sans;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 3px 3px 0 #000;
}
p, a {
	color: #ededed;
	font-family: Playpen Sans;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 2px 0 #000;

}
.intro {
	/*background-color: var(--mainBackgroundElementBackgrounds);*/
	background-color: #381b36;
	/*background: linear-gradient(0deg, rgba(13, 0, 16, 0.6) 0%, var(--mainBackgroundElementBackgrounds) 20%);*/
	text-align: center;
	border-bottom: 1px dashed;
	border-color: #804008;
	
	padding-top: 20px;
	padding-bottom: 30px;
	margin: auto;
 	/*border-radius: 20px;*/
	width: 100%;
	height: auto;
	min-width: min-content;
	

}

.mainblock {
	background-color: var(--mainBackgroundElementBackgrounds);
	text-align: center;
	border-bottom-style: dashed;
	border-color: #804008;
  	margin: auto;
	
	margin-bottom: 0px;
	padding-top: 20px;
	padding-bottom: 30px;
 	/*border-radius: 20px;*/
	width: 80%;
	height: auto;
	min-width: min-content;
	
}
.no-pie{
	width:fit-content;
	padding-left: 5%;
	padding-right: 5%;

	text-align: center;
	margin: auto;
	border-radius: 20px;
	border-style: dashed;
	border-width: 1px;
}

.shadow{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pixelated {
	image-rendering: pixelated;
  }

.ga-nav{
	width: 100px;
	height: auto;
	margin: auto;
	padding: auto;
	position: -webkit-sticky;
	
	top: 0;
}
.navbar{
	list-style-type: none;
	background-color: rgba(39, 12, 27, 0.6);
	width: 100%;
	margin: auto;
	padding: auto;
	float: right;
	border-bottom: 1px dashed;
	border-color: #804008;
}


.navbar a:hover{

	background-color: rgba(106, 0, 130, 0.483);
}

.navselected{
	background-color: rgba(17, 54, 29, 0.6);
}

li {
	display: inline;
	text-align: center;
	float: left;

	margin: auto;
	padding: auto;
	
}

ul {
	list-style-type: none;
	margin: auto;
	padding: auto;
  }
a{
	Display: block;
	text-decoration: none;
	padding: 10px;
	height: auto;
	margin: auto;
	padding: auto;
}

.navbarPadding{
	padding: calc(19px + 0.6vw)
}

.itchioFrames{
	height: auto;
	margin: auto;
	padding: 20px;
	text-align: center;
	background-color: var(--mainBackgroundElementBackgrounds);
	width: 100%;
	border-style: dashed;
	border-width: 1px;
	border-color: #1e2e7a;
	accent-color: #1a001c;
	width: 50%;
	height: 175px;
	/*&amp;link_color=68ff76&amp;" width="560" height="175">*/
}